@charset "UTF-8";
  * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background: linear-gradient(to bottom, #f7f7f7, #edf2f7);
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
              color: #7b1b1b;
        }

        .checkout-form {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .form-section {
            margin-bottom: 20px;
        }

        .form-section h2 {
            font-size: 18px;
            margin-bottom: 10px;
            color: #1e3a8a;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        textarea,
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        textarea {
            resize: vertical;
        }

        .place-order-btn {
            display: block;
            width: 100%;
            padding: 15px;
            background-color: #953333;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
            text-align: center;
        }

        .place-order-btn:hover {
           background-color: #966105;
        }

        .optional-label {
            font-weight: normal;
            font-style: italic;
            color: #666;
        }

        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
        }